<%- include('../partials/header.html') %>

<%- include('../examples/dialog.html') %>

<%- include('../partials/footer.html') %>
<!-- Button styles, not part of dialog package -->
<style>
.zs-button{
  border: 1px solid #327f97;
  color: #48778a;
  background-color: #ffffff;
  border-radius: 0.3em;
  padding: 0.51785714em 1.42em 0.51785714em 1.42em;
  min-height: 2.42857143em;
  white-space: nowrap;
  -webkit-appearance: none;
}
.zs-button:hover{
  cursor: pointer;
  color: #138dbf;
  border: 1px solid #0099c9;
}
.zs-button:hover .zs-icon,
{
  color: #138dbf;
}
.zs-button-action{
  color: white;
  text-decoration: none;
  background: #48778a;
  background: linear-gradient(#5b93aa, #48778a);
}
.zs-button-action:hover
{
  color: #ffffff;
  background: #2984aa;
  background: linear-gradient(#499bbc, #387e9a);
}
.zs-button-action:hover .zs-icon{
  color: #ffffff;
}
.zs-button + .zs-button{
  margin-left: 0.71em;
}
</style>