<!DOCTYPE html>
<html lang="en">

<head>
	<title>ZSUI Tables demo</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<%- include('../../node_modules/zsui-core/demo/partials/zsEjs')%>	
	<%- script(nodeModules + '/zsui-core/dist/polyfills/polyfills.js')%>
	<%- script(nodeModules + '/zsui-core/dist/utils/customElements.js')%>
	<%- link(nodeModules + '/zsui-core/dist/themes/{theme}/core.css')%>
	<%- link(zsuiPath + '/themes/{theme}/tables.css')%>
	
</head>
<body class="zs-style" style="padding:1em" data-page="<%= (this.page || '') %>">	