<h2>Sortable table</h2>
<%- script(zsuiPath + '/tables/tableElement.js')%>
<%- script(zsuiPath + '/tables/sort.js')%>

<div id="container4"></div>
<script>
	function getData() {
		return new Promise(function (resolve, reject) {
			var arr = [];
			for (i = 0; i <= 15; i++) {
				var row = [];
				for (j = 0; j < 10; j++) {

					if (i == 0 && j == 2) {
						row.push(10 * i + j + '<br>test'); // multi line
					} else if (i == 0 && j == 5) {
						row.push(10 * i + j + 'unbreakableLongText'); // unbreakable
					} else if (i > 0 && (j == 2 || j == 6)) {
						//row.push('fieldunbreakablelong');
						//row.push('<input type="text" value="test"/>');
						//var el = new zs.fieldElement();
						//el.setAttribute('type', 'text');
						//el.setAttribute('value', 'test');

						row.push('<p is="zs-field" type="text" label="test" value="my value"></p>');
					} else {
						row.push(10 * i + j);
					}
				}
				arr.push(row);
			}
			resolve(arr);
		});
	}
</script>

<script>
	var container = document.querySelector('#container4');
	var sortedField, sortedDirection;
	zs.customElement(zs.tableElement, 'zs-sortable-table', 'div', zs.tableSortable);
	var table4 = document.createElement('div', {is: 'zs-sortable-table'});
	table4.getTableData = getData;
	table4.headData = ["Column 1", "Column 2", "Column 3", "Column 4", "Column 5", "Column 6", "Column 7", "Column 8", "Column 9", "Column 10"];

	table4.renderHead = function (rowIndex, colIndex, data) { // add sortable flag to necessary elems
		var th = zs.table.renderHead.apply(this, arguments);


		// Add sorting
		th.setAttribute('sortable', true);
		th.setAttribute('index', colIndex);
		var sortOrder = null
		if (sortedField == colIndex) {
			if (sortedDirection == 'asc') {
				sortedDirection = 'desc';
			} else {
				sortedDirection = 'asc';
			}
			sortOrder = sortedDirection;
		}

		this.addSortableListener(th, sortOrder);


		// additionaly u can choose different sorting event and/or element
		// th.setAttribute('sorting-elm', 'span');
		// th.setAttribute('sorting-event', 'mouseover');
		return th;
	}


	table4.addEventListener('sort', function (e) { // listen to sort event and do whatever u wanna
		var elm = e.detail.elm;
		sortedField = e.detail.elm.getAttribute('index');
		table4.getTableData = function() {
			return new Promise(function (resolve, reject) {
				var arr = table4.data.sort(function(a, b) {
					var returnValue = 0;

					if (a[sortedField] < b[sortedField]) {
						returnValue = 1;
					}
					else if (a[sortedField] > b[sortedField]) {
						returnValue = -1;
					}
					else{
						returnValue = 0;
					}

					if(sortedDirection == "asc"){
						return returnValue;
					}
					else{
						return (returnValue * -1);
					}
				});
				resolve(arr);
			});
		};
		table4.refreshTable();
	});

	table4.refreshTable();
	container.appendChild(table4);
</script>
