<div class="zs-layout-table">
    <div class="zs-layout-table zs-layout-1col ">
        <section>
            <main>
                <header></header>
                <section class="left-section">
                    <app-sales-representative-list></app-sales-representative-list>
                </section>
                <section class="right-section">
                    <app-rep-of-month></app-rep-of-month>
                </section>
            </main>
        </section>   
    </div>
</div>