<%- include('../partials/header.html') %>
<!--Styles added for demo purpose. Not part of forms package-->
<style>

.zs-grid-col-1-3 {
  float: left;
  width: 33.33333333%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-1-3:last-child {
  margin-right: 0;
}
.zs-grid-col-3-3 {
  float: left;
  width: 8.33333333%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-2-3 {
  float: left;
  width: 66.66666667%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-2-3:last-child {
  margin-right: 0;
}
.zs-callout-box {
  border: 1px solid #d0dde6;
  border-radius: 0.3em;
  display: block;
  width: 100%;
}
.zs-callout-box > header {
  background: #e5eaef;
  font-size: 0.92857143em;
  font-weight: bold;
  min-height: 34px;
  height: 34px;
  padding: 0.639em 0.71em 0.639em 0.71em;
  vertical-align: bottom;
}
.zs-callout-box > section {
  padding: 0.71em 0.71em 0.71em 0.71em;
}
.zs-callout-box a {
  display: inline-block;
  word-break: break-all;
}
</style>
<%- include('../examples/forms.html') %>

<%- include('../partials/footer.html') %>