<h2>Sales Representative Table</h2>
<app-zs-textbox></app-zs-textbox>
<table class="zs-data-table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Country</th>
        <th>City</th>
        <th>ZipCode</th>
        <th>Gender</th>
    </thead>
    <tbody>
        <tr *ngFor="let sr of data ;let i=index">
            <td>{{sr.id}}</td>
            <td>{{sr.name}}</td>
            <td>{{sr.country}}</td>
            <td>{{sr.city}}</td>
            <td>{{sr.zipcode}}</td>
            <td>{{sr.gender}}</td>
        </tr>
    </tbody>
</table>


