<%- include('../partials/header.html') %>
<style>
body {
    padding: 0 !important;
}
</style>
<%- link(zsuiPath + '/themes/{theme}/layout.css') %>

<%- link('https://ui.zsservices.com/zsui/themes/{theme}/launchbar.min.css')%>
<%- link('https://ui.zsservices.com/zsui/themes/{theme}/topNav.min.css')%>
<%- link(zsuiPath + '/themes/{theme}/header.css') %>
<%- link('https://ui.zsservices.com/zsui/themes/{theme}/sideNav.min.css')%>
<%- link('https://ui.zsservices.com/zsui/themes/{theme}/dialog.min.css')%>

<%- include('../examples/mobileHeader.html') %>

<%- include('../partials/footer.html') %>
